.main-content {
    margin-left: 50px;
    margin-top: 50px;
}

.main-content div {
    margin-top: 20px;
    font-size: 1.4em;
}

.film-title {
    font-weight: bold;
}

.film-opening-crawl {
    width: 50%;
}

.film-related-entity-list {
    list-style-type: circle;
}

.film-related-entity-list li {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.film-related-entities-selector {
    border-color: cadetblue;
    border-width: 2px;
    font-size: 0.8em;
}