header {
    display: flex;
    border: 2px solid cadetblue;
}

header h1 {
    margin: 30px;
    width: max-content;
    font-size: 1.8em;
}

.authentication_block {
    border-left: 1px solid cadetblue;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.authentication_block button, .authentication_block a {
    background-color: white;
    border: 1px solid cadetblue;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 50px;
    height: min-content;
    font-size: 1.4em;
}

.authentication_block button:hover, .authentication_block a:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}

.username {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4em;
}

.hidden {
    display: none;
}