#header {
    display: flex;
}

#header h1 {
    margin: 30px;
    width: max-content;
}

.authentication_block {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication_block button {
    padding: 10px;
    margin-right: 50px;
    height: min-content;
    font-size: 20px;
}

.table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.table th {
    background: cadetblue;
    width: 300px;
}

.sort_buttons button{
    visibility: hidden;
}

.sort_buttons:hover button {
    visibility: visible;
}

#films_table td {
    text-align: center;
}

.table tr {
    height: 100px;
}

.search {
    margin: 20px auto 20px auto;
    width: max-content;
}

.info_cell {
    border-style: dotted;
    border-color: cadetblue;
    border-width: 3px;
}

.info_cell:hover {
    cursor: pointer;
    border-style: solid;
}

#episode_id {
    width: 100px;
}