.sign-in-buttons-block {
    display: flex;
    margin: auto;
    height: 90vh;
    width: max-content;
    align-items: center;
}

.sign-in-button {
    display: flex;
    font-size: 1.4em;
    width: max-content;
    align-items: center;
}

.sign-in-button img {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .sign-in-button {
        font-size: 0.8em;
    }
}