.sign-in-buttons-block {
    display: flex;
    margin: auto;
    height: 90vh;
    width: max-content;
    align-items: center;
}

#sign-in-google-button {
    display: flex;
    font-size: 20px;
    width: max-content;
    align-items: center;
}

.link-back-block {
    display: flex;
    width: min-content;
    padding: 5px;
    margin: 30px 30px 0 30px;
    border-style: dotted;
    border-color: cadetblue;
    border-width: 3px;
}

.link-back-block:hover {
    cursor: pointer;
    border-style: solid;
}

.link-back-block a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    font-size: 24px;
}

