.films-table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.films-table th {
    background: cadetblue;
    width: 300px;
}

.table-sort-buttons button{
    visibility: hidden;
}

.table-sort-buttons:hover button {
    visibility: visible;
}

#films-table-body td {
    text-align: center;
}

.films-table tr {
    height: 100px;
}

.search-block {
    margin: 100px auto 20px auto;
    width: max-content;
    font-size: 20px;
}

.info-cell {
    border-style: dotted;
    border-color: cadetblue;
    border-width: 3px;
}

.info-cell:hover {
    cursor: pointer;
    border-style: solid;
}

#episode_id {
    width: 100px;
}

.pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.pagination-block button{
    font-size: 20px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: white;
    border-color: cadetblue;
    border-style: solid;
}

.pagination-block button:hover{
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}