.films-table {
    margin-top: 20px;
}

.films-table th {
    background: cadetblue;
    width: 300px;
    font-size: 1.2em;
}

.table-sort-buttons button{
    visibility: hidden;
    font-size: 1.4em;
}

.table-sort-buttons:hover button {
    visibility: visible;
}

.table-body td {
    text-align: center;
    font-size: 1.2em;
}

.films-table tr {
    height: 100px;
}

.search-block {
    margin: 100px auto 20px auto;
    width: max-content;
    font-size: 1.2em;
}

.more-info-button{
    border: 3px dotted cadetblue;
    font-size: 1.2em;
    background-color: white;
    padding: 10px;
}

.more-info-button:hover {
    cursor: pointer;
    border-style: solid;
}

.episode-cell{
    width: 100px;
}

.pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.pagination-block button{
    font-size: 1.6em;
    margin-right: 2px;
    margin-left: 2px;
    background-color: white;
    border-color: cadetblue;
    border-style: solid;
}

.pagination-block button:hover{
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

.films-management-button, .films-management-link {
    background-color: white;
    border: 1px solid cadetblue;
    color: black;
    height: min-content;
    font-size: 1.4em;
    padding: 10px;
    display: flex;
    width: max-content;
}

.films-management-button:hover, .films-management-link:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}

.main-content {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.button-image {
    pointer-events: none;
}